table tr td {
	vertical-align:top;
	padding-right:3px;
}

#mapping {
	width:400px;
	height:400px;
	margin:0 5px 10px 0;
	font-family:inherit;
	font-size:8.5px;
}

#output {
	margin-top:5px;
	font-size:11px;
	font-family:Consolas;
}

#mapping-name {
	margin-bottom:5px;
}

p.divider {
	border-bottom:1px solid #ddd;
}

.buffer {
}

.invisible {
	display:none;
}

table.mapping {
	border-collapse:collapse;
}

table.mapping tr td {
	padding:0;
	margin:0;
}

.datatype {
	color: #F00;
	font-style:italic;
}

.datatype.integer {
	color: #06F;
}

.datatype.double {
	color: #06F;
}

.datatype.boolean {
	color: #066;
}

.datatype.date {
	color: #066;
}

.datatype.keyword {
	color: #C63;
}

.datatype.nested {
	color: #699;
}

.datatype.geo_shape {
	color: #693;
}

#analyzers {
	border-bottom:1px solid #ddd;
	padding-bottom:10px;
	margin-bottom:10px;
	min-width:500px;
}

.analyzer {
	color:#ffaa00;
}

.analyzer.standard, .analyzer.raw {
	color:#ffaa00;
}

.analyzer.case_insensitive_analyzer {
	color:#008855;
}

.analyzer.like_analyzer, .analyzer.nda_ngram_analyzer {
	color:#ff0000;
}

.analyzerSwitch, .datatypeSwitch {
	text-decoration:none;
}

.analyzerSwitch:hover, .datatypeSwitch:hover {
	text-decoration:underline;
}

.analyzerSwitch:active, .datatypeSwitch:active {
	color:red;
}

.switchDivider {
	color:#ddd;
	margin:0 2px 0 2px;
}

#mapping-name {
	font-weight:bold;
}

.count.datatype, .count.analyzer {
	color:#777;
	font-style:normal;
	padding-left:3px;
	font-size:0.8em;
}

.indent {
	color:#ddd;
	padding-right:5px;
}