body {
	background-color:black;
	color:#eee;
	font-family:Trebuchet MS;
}

span.group {
	color:#fff;
}

textarea, iframe, #localresults {
	background-color:#ffff55;
}

#serversandservices {
	width:970px;
}

#query, #resultQuery{
	width:960px;
}

#iframe {
	width:964px;
}

#query {
	height:220px;
}

