<div id="helpDiv">
	<div id="helpHeader">
		<span class="helpHeader">help</span> <span class="link windowClose" onclick="helpToggle();">X</span><br />
	</div>
	<div id="helpBody">
		<p>
			<b class="section-header">General</b><br />
			This tool helps you to build NBA-queries, execute them and store them for re-use. It is not a true query-builder, but rather a collection of functions that makes it easier to understand what a query should look like, helps you construct and test them, and examine their resulting output. Before you start, it might be good to get acquainted with the NBA:
			<ul>
			  <li><a href="https://science.naturalis.nl/en/ict/products/data-api/" target="_blank">Netherlands Biodiversity API @ science.naturalis.nl</a></li>
			  <li><a href="http://docs.biodiversitydata.nl/" target="_blank">docs.biodiversitydata.nl</a></li>
			  <li><a href="http://bioportal.naturalis.nl/node/3?language=en&back" target="_blank">API description in BioPortal</a></li>
			</ul>
			Saved queries will be stored in the local storage of your browser, and will survive across sessions (and emptying your cache, most likely). However, they do not work in private sessions and are not available across different browsers, so if you have queries you really want to hang on to, make sure to save them somewhere else as well.<br />
			Please note that for reasaons of technical convenience, this program uses a proxy for communicating with the NBA server. If you want to use the NBA directly, you can access it at <a href="" class="directNbaPath" target="_blank"></a>.
		</p>
		<p>
			<b class="section-header">About this help</b><br />
			You can click and drag the header to move this window to a position of your liking. Click the 'X' top right to close.<br />
			Click and hold the bold topics to highlight the corresponding item in the main screen.
		</p>
		<p>
			<b class="section-header">Writing & running queries</b><br />
			<B>Service list</b><br />
			List of services available in NBAv2. Each item shows the actual path of the query, an optional [name] and an optional %-sign to indicate that the service requires html-encoded queries, or a - to indicate that a service doesn't expect a query. The list of services is automatically retrieved from the NBA server.<br />
			Note: the %-sign is just for information - you don't have to do any encoding yourself; the application will take care of it.<br />
		</p>
		<p>
			<b>Server status</b><br />
			Link to the root of the NBA-server, shows the status page of the server (opens in a new window). Page also displays version info.
		</p>
		<p>
			<b>Query window</b><br />
			Window to specify the query you want to run. This can be either a JSON-object (for querySpec-queries) or a query-string (for human readable queries). Specify just the actual query, not the rest of the URL (or the '?') - these are inferred from the values selected in the <b>service list</b>. When you first open this page, two example queries will be automatically added to the list of <b>saved queries</b> to give you an idea what they should look like.<br />
			Queries can be spread across multiple lines (for readability). Empty lines will be ignored, and lines that start with one of these character(s): <span id="exampleCommentChars"></span>  will be treated as comment and ignored.
		</p>
		<p>
			<b>Execute query</b>
			<br />
			Click the <b>execute query</b>-button to run your query. When you click the button, the application will:
			<ol>
				<li>Take the selected entry from the <b>service list</b>;</li>
				<li>If the service requires a query, take the contents of the <b>query window</b>, and encode them if required (if the selected service does not require a query, the contents of the query window are ignored);</li>
				<li>Put them all together to turn it into a NBA-query in the form of a URL;</li>
				<li>Print that URL in the <b>resulting URL</b> window;</li>
				<li>Execute the query and print the formatted result in the result frame.</li>
			</ol>
			<br />
			Notes:<br />
			(1) The application does not check whether the combined service and query actually makes sense. If for instance you combine a JSON-query with a human readale service, the application will open the URL to the NBA all the same, which will generate an error as output.<br />
			(2) The application does not check in any way whether the query is legal; you can enter anything you like. There is no predefined field list, and the application does not balance brackets (alas).<br />
			(3) Mouse-aversive users can also execute a query by pressing Ctrl+enter (works globally).
		</p>
		<p>
			<b>Query window manipulation</b><br />
			<b class="section-sub-header no-top-margin">Inserting query-elements</b><br />
			Right-click in the <b>query window</b> to see the <b>edit</b>, <b>insert code</b> and <b>insert logical operator</b> menus. Hover over the menu title to access each menu's options. 
			Select and click an item from <b>insert code</b> to insert it into the <b>query window</b> at the cursor position, or over the selected text. 
			<B>insert logical operator</b> works in the same way.<br />

			<b class="section-sub-header">Finding document fields</b><br />
			Type the (partial) name of a field in the <b>type to find field name</b>-input to find a field. As you type, a droplist will appear displaying all fields matching your search term (type a space to see all available fields). Only fields that match the document type of the selected service will be displayed. Click an item to insert it into the <b>query window</b> at the cursor position,  or over the selected text. The droplist items include the name of the document type, as well as the fields' datatype and analyzers; these won't be inserted into the query window).<br />
			Fields are matched with each part of your search string, which is split by spaces. For instance, searching for <i>ers gath name</i> will match every line that has the strings 'ers', 'gath' and 'name' anywhere in their name, such as "<u>gath</u>eringEvent.gatheringP<u>ers</u>ons.full<u>Name</u>".<br />
			By default, datatypes and operators are excluded from the search process; by checking <b>include datatypes and analyzers in search</b> you can include them in your search (for instance if you are looking for a field of a specific datatype). Check <b>show fields for all document types</b> to see results for all document types, not just the one corresponding with the selected service.<br />
			<b class="section-sub-header">Manipulating text in query window</b><br />
			Use <b>add slashes</b> to add slashes to all double-quotes in the selected text in the <b>query window</b>. Hold down Ctrl while clicking to also remove newlines and replace multiple spaces by single ones.<br />
			use <b>decode query</b> to decode the contents of the <b>query window</b>, useful when you want to investigate a query but only have the full url.<br />
			To copy the query to the clipboard, click <b>copy query</b>. Double clicking does the same and additionally adds <code>{noformat}</code> tags around the copied content for readable pasting into JIRA.<br />
			Click <b>copy query +</b> to copy all query elements to the clipboard. (Note: holding down Ctrl while clicking any of the copy-links will additionally log the copied content to the browsers's console).<br />
			To clear the <b>query window</b>, click <b>clear query</b>.<br />
			If the query window has focus, use Ctrl + F11 to insert a comment char in query-window at the cursor; also works on multiple selected lines (adds them at the beginning of each line), and Ctrl + F12 to enclose selected text in the query-window in double quotes; also works with multiple words (detects word boundaries).
		</p>
		<p>
			<b>Resulting URL</b> & <b>run altered query</b><br />
			The <b>resulting URL</b>-window shows the resulting URL that the application sends to the NBA. You can directly edit the URL and execute the result by clicking <b>run altered query</b>. This is intended for quick debugging purposes; please note that your edits will be lost the next time you run <b>execute query</b>.
		</p>
		<p>
			<b>Query run options</b> (available once you have executed a query)<br />
			<b>open in new window</b>: opens the last executed URL in a new browser window; always opens a new window.
			<b>open in same window</b>: opens the last executed URL in a new browser window, then re-uses that window when you click the link again (avoid browser-tab overload).
			<b>clear results</b>: clear the <b>result frame</b> (ctr+del does the same).
			<b>copy URL</b>: copies the last executed URL to the windows clipboard (not sure about mac/linux). please note that these three work with the last URL that was <i>actually executed</i>. if you change something in <b>resulting URL</b> but do not execute the result, these three links will use the last URL that was (hence their absence when you first open the page).
		</p>
		<p>
			<b>Result frame</b><br />
			Results of your query from the NBA-server.
		</p>
		<p>
			<b class="section-header">Saving queries and executing saved queries</b><br />
			<b>Query name to save</b><br />
			Enter the name under which you want to save your query. Max. Length is 64 characters. You can clear the input by clicking the <b>clear query name</b>-symbol.<br />
			Prefix your query with a name between straight bracket to create a group of queries. Creating queries <code>[TEST] query a</code> and <code>[TEST] query b</code> will create a group called 'TEST' containing queries 'query a' and 'query b'. You can collapse groups in the query list, which helps maintain overview.
		</p>
		<p>
			<b>Save query</b><br />
			Click <b>save query</b> to save the content of the <b>query window</b> with the <b>query name to save</b>. The application will also save a reference to the service that is selected in the <b>service list</b> at the moment you save the query. If, for whatever reason, you don't want the service to be saved as well, uncheck the <b>save including service</b> checkbox before you click save.<br />
			The query will be saved in your local browser storage, and will remain available across sessions. If you choose a name that already exists, the application will <u>overwrite</u> the existing query without warning.<br />
			The application will show a message stating the result of the save action, above the query name-input (<a href="#" onclick="setMessage('hi there!');return false;">see what a message looks like</a>). It will also automatically update the list of <b>saved queries</b>.<br />
			please note, the application <i>only</i> saves the query and the service, <u>not</u> the server. So if you load a saved query, you'll have to manually select the appropriate server to run it against.
		</p>
		<p>
			<b>Saved queries</b><br />
			List of saved queries. Legend to the various symbols:
		</p>
		<p class="inner-p"> 
			<table class="symbolTable">
				<tr>
					<td><span class="symbol min-width-symbol">&larr;&mdash;</span></td>
					<td>
						Load the saved query into the <b>query window</b> and set the saved service in the <b>service list</b>. Hover over the symbol to see the name of the saved service. Click while holding down Ctrl to cause the query to be executed after loading.
					</td>
				</tr>
				<tr>
					<td><span class="symbol min-width-symbol">&larr;&#8211;</span></td>
					<td>
						Same, but for queries without a saved service (the selected service remains unchanged when you click this).
					</td>
				</tr>
				<tr>
					<td><span class="symbol min-width-symbol">x</span></td>
					<td>Delete the query (asks confirmation).</td>
				</tr>
				<tr>
					<td><span class="symbol min-width-symbol">&uarr;</span></td>
					<td>Copy the query name to the <b>query name to save</b> input. Handy when you want to overwrite an existing saved query.</td>
				</tr>
				<tr>
					<td><span class="symbol min-width-symbol">&equiv;</span></td>
					<td>Open query notes (see below).</td>
				</tr>
				<tr>
					<td><span class="symbol min-width-symbol">&#8795;</span></td>
					<td>Same, but query already has some saved notes (hint indicates notes' length).</td>
				</tr>
				<tr>
					<td><span class="symbol min-width-symbol">&boxbox;</span></td>
					<td>Indicates a group of queries. Click to expand. The number indicates the number of queries in the group.</td>
				</tr>
			</table>
			When you load a saved query that includes a reference to a service that no longer exists, no service will be set. Note that the path of the service is used as unique identifier; if, for some reason, you have different services with the exact same path, the one that comes first in the list will be the one that is set when loading. When you have no saved queries, the application automatically creates two example queries.
		</p>
		<p>
			<b>Query notes</b><br />
			The application allows you to store notes with a query. Click on one of the <span class="symbol link min-width-symbol">&equiv;</span>-symbols to open a popup with the notes for that query. You can have only one set of notes open at a given time. Clicking a second <span class="symbol link min-width-symbol">&equiv;</span>-symbol while notes are already open will automatically save before opening the next set of notes. Notes are deleted automatically when you delete the corresponding query.<br />
			The <b>note title</b> is the same as the query the note belongs to. The number after the title indicates the size of the note (not sure if there's a maximum).<br />
			Type your text in the <b>notes input area</b> (which opens with existing notes if there are any) and click <b>save notes</b> to save the notes. To delete, clear the entire input and click save.<br />
			Click <b>insert timestamp</b> to insert the current date and time at the cursor position. Click <b>insert line</b> to insert the current date and time at the cursor position. Click <b>close note</b> to close the notes popup.<br />
			If there's a valid URL in the notes, you can select it to make a clickable link-icon <span class="symbol">&#8599;</span> appear in the notes window's header (obviously an actual hyperlink would be more practical, but the notes are in a textarea, which doesn't render html).
		</p>
		<p>
			<b>Query maintenance</b><br />
			Click the <b>query maintenance</b>-icons (<span class="symbol">&#9660;</span> <span class="symbol">&#9650;</span>) to toggle the maintenance options.<br />
			Use <b>export selected queries</b> to export selected queries as a JSON-string. When you open <b>query maintenance</b>, checkboxes (<span class="symbol link off">&#9744;</span> <span class="symbol link on">&#9745;</span>) appear for each item in the <b>saved queries</b> list. Use the <b>select all</b> and <b>select none</b> links to change the selection in bulk. Select the queries you want to export, and click <b>export selected queries</b>. The corresponding JSON-string is written to the <b>query window</b> (notes, if any, are included. Services are not). Select and copy the JSON-string from the window and save it as backup in a regular txt-file, or share it with other users.<br />
			Paste an exported JSON-string into the <b>query window</b> and click <b>import queries</b> to import the queries. All queries are imported; if another query with the same name already exist, a number is added to the name of the newly imported query.<br />
			Use <b>delete selected queries</b> in combination with the checkboxes in the <b>saved queries</b> list to delete queries in bulk (after confirmation).<br />
			Toggle <b>enable Ctrl+s</b> to enable the use of ctrl+s for saving of the current query (content of the query window), using the name of the currently highlighted saved query (= the last one you loaded or saved). Be aware, the program overwrites the stored query without warning, and there's no undo. Functionality is turned off by default.
		</p>
		<p>
			<b class="section-header">Other</b><br />
			Click the <b>query timer</b> link in the footer menu to bring up the query execution timer. The timer counts the delay between the moment the full query is launched, and the moment the results come back (more precise, between the moment the src-attribute of the result frame is set, and the frame's onload-event is triggered). The timer also keeps an average if you execute the same query repeatedly.
			
		</p>
		<p>
			<b class="section-header">Key bindings</b><br />
			<ul>
				<li>F2: open help-window (and close it again).</li>
				<li>F4: brings up window with links (and close it again). custom links are maintained in <code>js/config.js</code>.</li>
				<li>Esc: close help- and links-windows.</li>
				<li>Ctrl+enter: run query.</li>
				<li>Ctrl+space: insert <span class="ctrl-space-number-of-spaces">2</span> spaces at cursor in query window (override in <code>js/config.js</code> by setting <code>ctrlSpaceNumberOfSpaces</code>).</li>
				<li>Ctrl+F7: clear <b>query</b>.</li>
				<li>Ctrl+F8: set focus on <b>query</b>.</li>
				<li>Ctrl+F9: set focus on <b>type to find field name</b>.</li>
				<li>Ctrl+F11: insert comment char <code class="active-comment-char"></code> at the beginning of the line in the query-window (works on multiple selected lines).</li>
				<li>Ctrl+Shift+F11: remove comment char <code class="active-comment-char"></code> from begin of selected lines in the query-window.</li>
				<li>Ctrl+F12: encloses selected text in query-window in double quotes; works with multiple words.</li>
				<li>Alt+Del: clear the <b>result frame.</b></li>
				<li>Ctrl+clicking <b>copy query</b>: dump info to browser console as well (works for all 'copy to clipboard' commands).</li>
				<li>Ctrl+clicking <span class="symbol link min-width-symbol">&larr;&mdash;</span>: immediately run query after loading.</li>
				<li>Ctrl+clicking <b>add slashes</b>: also removes newlines & multiple spaces.</li>
				<li>Shift+clicking <b>add slashes</b>: removes slashes from \".</li>
				<li>Ctrl+clicking datamodel entry: encloses value in double quotes when inserting.</li>
				<li>Ctrl+s: save current query with highlighted query-name (disabled by default).</li>
				<li class="no-dot divider"></li>
				<li class="no-dot">access keys (shortcuts to page-elements):</li>
				<li>w: <b>service list</b></li>
				<li>a: <b>query window</b></li>
				<li>z: <b>type to find field name</b></li>
				<li>b: <b>include datatypes and analyzers in search</b>-toggle</li>
				<li>c: <b>show fields for all document types</b>-toggle</li>
				<li>v: <b>resulting URL</b>-window</li>
				<li class="no-dot">(use on mac and windows by pressing Ctrl+Alt+[access key] in firefox or Alt+[access key] in chrome, or Ctrl+Alt+[access key] in either browser on linux)</li>
			</ul>
		</p>
		<p>
			<b class="section-header">About <span class="appName"></span></b><br />
			This tool comes "as is", was developed using Firefox 54.x (and haphazardly tested against Chrome). This is version <span class="appVersion"></span> (<span class="appDate"></span>). <A href="" class="email appEmail">suggestions for improvement welcome!</a>
		</p>
		<p class="versionHistory">
			<b class="section-header">version history</b><br />
			<ul id="version-history">
				<li>v1 &hellip; 2.0 (nov/dec. 2016): initial versions.</li>
				<li>v2.1 (2016.12.13): included help text.</li>
				<li>v2.1.1 (2017.01.05): corrections to help text, added links pop-up.</li>
				<li>v2.2 (2017.01.05): added code bits and operators.</li>
				<li>v2.3 (2017.01.08): queries can be saved with corresponding service.</li>
				<li>v2.3.1 (2017.01.09): fixed nested query arrow bug.</li>
				<li>v2.3.2 (2017.01.09): moved message area to avoid width-issues; small style changes.</li>
				<li>v2.3.3 (2017.01.12): added Ctrl+click = load & execute.</li>
				<li>v2.3.4 (2017.01.16): fixed server status toggle bug.</li>
				<li>v2.4 (2017.01.26): removed index numbers from, and added templates to server & service lists; added URL-awareness in notes' text; notes automatically change when a query is selected; notes window draggable; enabled copy to clipboard for query plus parameters; various  small changes.</li>
				<li>v2.4.1 (2017.01.31): Alt+up/down changes selected server; Alt+delete clears the result window, plus link for the same; Ctrl+enter now works globally; escape closes help-window; added decode query function.</li>
				<li>v2.4.2 (2017.02.09): added labels for links window.</li>
				<li>v2.4.3 (2017.03.01): seperated config.js and services.js.</li>
				<li>v2.4.4 (2017.03.02): added optional target to useful links. added additional tool <code>parse-mapping.html</code>. added 'add slashes'.</li>
				<li>v2.5 (2017.03.09): added query export, import and bulk deletion.</li>
				<li>v2.6 (2017.03.10): added datamodels & field-insert. removed 'insert' links from code bits and operator selectors.</li>
				<li>v2.6.1 (2017.03.10): Ctrl+add slashes also removes newlines & multiple spaces.</li>
				<li>v2.7 (2017.03.27): Ctrl+F11 inserts comment char in query-window, Ctrl+F12 encloses selected text in double quotes. Ctrl+F11 now also works on multiple selected lines. Ctrl+click datamodel entry adds "'s around inserted value. moved code- & operator-insert event to option onclick, so subsequent clicks on the same option also work. made config.js file entirely optional (all vars have defaults), added noExampleQueries option. datamodel-'type as you find' now works with partial & space-split search terms. Ctrl+F9 sets focus to field search input. fixed double-quote repeating strings enclosure bug.				</li>
				<li>v2.8 (2017.05.01): doubleclick copy query encloses the copied query in {noformat} tags for JIRA. Alt+F11 removes comment chars.  moved code & operator selects to query window context menu. before executing, application removes superfluous comma's from the query. query is verified as valid JSON or not executed (can be overridden in <code>config.js</code>). cursor position (line, column) is displayed below the query-window (helps debugging JSON parse errors). list of document fields, allowed operators and analyzers is now retrieved dynamically from the selected server (through a remote proxy, for now). added 'search in Google' to query window context menu.</li>
				<li>v2.9 (2017.05.09): non-indexed fields are now excluded from document field search (including toggle). only searchable document fields that correspond with the selected service are shown (can be overridden). services are retrieved automatically from the server. page-elements are temporarily disabled while loading. bugfixes. 				</li>
				<li>v2.10 (2017.05.15): removes "just brackets" query before executing a human readable service. version-info is retrieved from this table. user can (de)select query-groups. query names are htmlEncoded before being saved. allows for default list of services from file for situations in which the proxy cannot be reached.				</li>		
				<li>v3.0 (2017.06.14): added some access keys. added <code>custom-styles.css</code> option. added query execution timer. Ctrl+space inserts multiple spaces. added querywindow context menu toggle (so you can turn off the browser's spelling checker). added Ctrl+s. added Shift+add slashes. added possibility of extra static services (in <code>config.js</code>), including option for non-standard port (for PURL). added different result window for cross-domain-enabled servers, incl. copying and searching in results. implemented direct server requests for all ajax services, with proxy as backup. added support for non-JSON and -html responses. added manual setting of accept headers. added GET/POST-switch. added http response code monitor. added possibility of suppressing output (useful for better query timing). added output hashes (to quicky see if output has changed). bugfixes.				</li>
				<li>v3.1 (2017.07.18): added grouping in context code menu. added 'noServices' option to servers.</li>
				<li>v3.2 (2017.09.05): operator list is generated automatically. added XPath for JSON functions. small fixes.</li>
				<li>v3.2-server (2017.10.03): migrated to server. stripped multi-server capabilities.</li>
				<li>v3.3-server (2017.10.23): added loading of external query through _querySpec parameter.</li>
				<li>v3.4-server (2018.09.05): fixed declaration of 'download' services.</li>
				<li>v3.5 (2018.11.06): added 'quick queries download' option.</li>
			</ul>
		</p>

		<p class="versionHistory">
			<b class="section-header">known issues</b><br />
			<ul>
				<li>No paste option in query-window context menu</li>
				<li>Suppressing non-indexed fields in the suggestion list prohibits adding those fields to the "fields" parameter.</li>
				<li>Help for <b>search by XPath for JSON</b> is missing.</li>
			</ul>
		</p>
	</div>
</div>
