<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>

<link rel="shortcut icon" href="{{ url_for('static', filename='css/5028-512.png') }}" />
<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-ui-1.12.1/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.scrollTo-2.1.2/jquery.scrollTo.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jstorage.js') }}"></script>
<script src="{{ url_for('static', filename='js/md5/md5.js') }}"></script>
<script src="{{ url_for('static', filename='js/json2.js') }}"></script>
<script src="{{ url_for('static', filename='js/system.js') }}"></script>
<script src="{{ url_for('static', filename='js/services.js') }}"></script>
<script src="{{ url_for('static', filename='js/defaultRestServiceList.js') }}"></script>
<script src="{{ url_for('static', filename='js/datamodels.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/nba-query-test.js') }}"></script>
<script src="{{ url_for('static', filename='js/request.js') }}"></script>
<script src="{{ url_for('static', filename='js/query-window.js') }}"></script>
<script src="{{ url_for('static', filename='js/query-import-export.js') }}"></script>
<script src="{{ url_for('static', filename='js/tools.js') }}"></script>
<script src="{{ url_for('static', filename='js/notes.js') }}"></script>
<script src="{{ url_for('static', filename='js/inline_templates.js') }}"></script>
<script src="{{ url_for('static', filename='js/config.js') }}"></script>
<script src="{{ url_for('static', filename='js/loader.js') }}"></script>
<script src="{{ url_for('static', filename='js/timer.js') }}"></script>
<script src="{{ url_for('static', filename='js/results.js') }}"></script>
<script src="{{ url_for('static', filename='js/hashes.js') }}"></script>
<script src="{{ url_for('static', filename='js/jsonpath-0.8.0.js') }}"></script>
<script src="{{ url_for('static', filename='js/xpathjson.js') }}""></script>

<link rel="stylesheet" type="text/css" media="screen" title="default" href="{{ url_for('static', filename='css/inline_templates.css') }}" />
<link rel="stylesheet" type="text/css" media="screen" title="default" href="{{ url_for('static', filename='css/jquery-ui.css') }}" />
<link rel="stylesheet" type="text/css" media="screen" title="default" href="{{ url_for('static', filename='css/style.css') }}" />
<link rel="stylesheet" type="text/css" media="screen" title="default" href="{{ url_for('static', filename='css/custom-styles.css') }}" />

<script>
$(document).ready(function(e)
{
	if (!checkMinimalRequirements()) return;

	disablePage();
	setApplicationInfo();
	acquireInlineTemplates();
	//initServers();
	//populateServers();
	//setServer();
	setFixedServer( { url: window.location.protocol + "//" + window.location.host, proxyPath: "/proxy/?query=", nbaServer: window.location.protocol + "//{{ nba_address }}" } );
	getServices();
	addStaticServices();
	populateServices();
	setService();	
	getDataModels();
	displayFullUrl();
	setServerStatusLink();
	setServerSelectTitle();
	bootstrapQueryWindow();
	bootstrapResultWindow();
	bootstrapSupportWindows();
	bindDocumentFieldsSearchKeyUp();
	checkSaveWithServiceToggle();
	checkDocumentFieldsIncludeExtras();
	checkDocumentFieldsShowAll();
	enableCtrlSToggle();
	usePOSTmethodToggle();
	suppressOutputToggle();
	populatePurlAcceptHeaders();
	bindKeys();

	if (!$.jStorage.storageAvailable())
	{
		alert("no local storage available.\ncannot save or use saved queries.\n(but you can still write and execute them)");
	}
	else
	{
		storageCleanUp();
		getQueryIndex();
		checkExampleQueries();
		drawQueryIndex();
	}

	enablePage();
	togglePurlAcceptHeaders();
});
</script>
</head>
<body>
<form>

	<div id="top">
		<div id="serversandservices">
			<!-- select id="servers" alt-title="server list" title="server list" onchange="
				disablePage();
				rememberSelectedService();
				setServer();
				displayFullUrl();
				setServerStatusLink();
				setServerSelectTitle();
				getServices();
				addStaticServices();
				populateServices();
				setService();
				getDataModels();
				bootstrapResultWindow();
				recallSelectedService();
				enablePage();
				togglePurlAcceptHeaders();"
				accesskey="q"></select -->
			<select title="service list" onchange="setService();displayFullUrl();" id="services" accesskey="w"></select>
			<a title="server status" href="" id="serverStatus" target="_new">NBA server root</a>
			<span title="last server http response code" class="hint" style="margin-left:10px" id="serverResponseCode"></span>
		</div>
		<span id="message"></span>
	</div>

	<div id="left">
		<textarea title="query window" id="query" placeholder="query" accesskey="a"></textarea><br />
		<input title="execute query" type="button" id="query-trigger" value="execute query" onclick="runQuery()"/>
		<span title="execute query alternative" class="hint">(or Ctrl+Enter)</span> <span class="divider">|</span>		
		<span title="query window manipulation">
			<input type="text" title="type to find field name" id="documentFieldsSearch" placeholder="type field name" class="documentFieldsSearch" accesskey="z" /> 
			<input type="checkbox" id="documentFieldsIncludeExtras" onchange="checkDocumentFieldsIncludeExtras();$('#documentFieldsSearch').trigger('keyup');" accesskey="x" class="invisible-checkbox"/>
			<label title="include datatypes and analyzers in search" for="documentFieldsIncludeExtras">
				<span class="document-fields-include-extras check-box-label check-box-label-on">&#9744;</span>
				<span class="document-fields-include-extras check-box-label check-box-label-off">&#9745;</span>
			</label>

			<input type="checkbox" id="documentFieldsShowAll" onchange="checkDocumentFieldsShowAll();$('#documentFieldsSearch').trigger('keyup');" accesskey="c" class="invisible-checkbox"/>
			<label title="show fields for all document types" for="documentFieldsShowAll">
				<span class="document-fields-show-all check-box-label check-box-label-on">&#9744;</span>
				<span class="document-fields-show-all check-box-label check-box-label-off">&#9745;</span>
			</label>
		</span>
		<span class="divider">|</span>
			<span title="add slashes" class="link" onclick="addSlashes();"/>add slashes</span> <span class="divider">|</span>
			<span title="decode query" class="link" onclick="decodeQuery();"/>decode query</span> <span class="divider">|</span>
			<span title="copy query" class="link" ondblclick="copyJIRAQueryToClipboard();setMessage('copied query for JIRA to clipboard');" onclick="copyQueryToClipboard();setMessage('copied query to clipboard');"/>copy query</span><span
				title="copy query +" class="link" onclick="copyCompleteRequestToClipboard();setMessage('copied all request elements to clipboard');"/>&nbsp;+&nbsp;</span><span class="divider">|</span>
			<span title="clear query (or Ctrl+F7)" alt-title="clear query" class="link" onclick="clearQuery();showCaretPosition();"/>clear</span> <span class="divider">|</span>
			<span title="cursor position" class="hint" id="cursor-position">[0,0]</span>
		</span>
		<br />
		<textarea title="resulting URL" id="resultQuery"  accesskey="v"></textarea>
		<br />
		<input title="run altered query" type="button" onclick="setCustomRequest();openRequest();" value="run altered query"/>
		<span title="query run options" class="results">
			direct NBA link: <a title="open in new window" class="resultUrl" href="" target="_blank">new window</a> <span class="divider">|</span>
			<a title="open in same window" class="resultUrl" href="" id="thisUrl" target="nbaTest">re-use window</a> <span class="divider">|</span>

			<span title="clear results" class="link" onclick="clearResults();" />clear results</span> <span class="divider">|</span>
			<span title="copy URL" class="link" onclick="copyToClipboard($('#thisUrl').attr('href'));setMessage('copied link to clipboard');" />copy URL</span>
			
			<span class="localresults">
				<span class="divider">|</span>
				<span title="copy results" class="link"
					onclick="if( resultsCopyToClipboard() ) { setMessage('copied result to clipboard'); } else { setMessage( 'result too large for automated copying' ); }" 
					ondblclick="if( resultsCopyJIRAToClipboard() ) { setMessage('copied result for JIRA to clipboard'); } else { setMessage( 'result too large for automated copying' ); }" 
				/>copy results</span>
				<span class="divider">|</span>
				<input type="text" id="resultSearch" placeholder="type to search results" onkeyup="resultsFindAndScroll();"/>
				<span class="link" onclick="resultsFindAndScroll('up');">&uarr;</span>
				<span class="link" onclick="resultsFindAndScroll('down');">&darr;</span>
				<span class="hint">
					<span id="resultSearchCount" title="total number found">0</span>
					[<span id="resultSearchLine" title="current line">0</span>]
				</span>
				<span class="divider">|</span>
				<span class="link" id="JSONpathToggle" onclick="$('.JSONpath').toggle();JSONresultPosition();" title="search by XPath for JSON">xJSON</span>
			</span>
			<div class="JSONpath JSONpathControls" >
				<input
					type="text" 
					id="JSONpath" 
					placeholder="XPath for JSON (double click for $.resultSet[*], usually a good start)" 
					style="width:70%" 
					onkeyup="findJSONpath();"
					ondblclick="JSONpathDblClick();"
					/>
				<a class="no-underline" href="http://goessner.net/articles/JsonPath/" target="_blank" title="XPath for JSON FAQ">?</a>
			</div>
		</span>
		
		<br />

		<iframe title="result frame" id="iframe" src="" style="background-color:#fff;"></iframe>
		<div title="result frame" id="localresults" class="localresults"></div>
		
		<br />
		<span class="version">
			<span class="appName"></span> (<span class="appVersion"></span>; <span class="appDate"></span>) | 
			<span class="appAuthor"></span> <a href="" class="email appEmail">&#9993;</a> | 
			<span title="toggle help (F2 also works)" onclick="helpToggle();" class="link">help</span> | 
			running on: <span id="servers"></span>
		</span>
	</div>

	<div id="right">
		<input title="query name to save" type="text" id="queryName" value="" placeholder="name of query to save (max. 64 chars)" maxlength="64" />
		<input type="checkbox" id="saveWithService" onchange="checkSaveWithServiceToggle();" checked="checked" class="invisible-checkbox" />
		<label title="save including service" for="saveWithService">
			<span class="save-with-service check-box-label check-box-label-on">&#9744;</span>
			<span class="save-with-service check-box-label check-box-label-off">&#9745;</span>
		</label>
		<input title="save query" type="button" value="save" onclick="hideExportOptionsWindow();saveQuery();getQueryIndex();drawQueryIndex();highlightFreshQuery();" />
		<span title="clear query name" onclick="$('#queryName').val('');" class="symbol link" title="clear query name">x</span>
		<p>
			saved queries:
			<ul title="saved queries" id="queries" class="queries">
			</ul>

			<span class="symbol link export" onclick="$('.export').toggle();exportQueryCount();" title="query maintenance">&#9660;</span>
			<div class="export options" id="exportOptions">
				<span class="symbol link" onclick="$('.export').toggle();" title="query maintenance">&#9650;</span>
				<div class="links">
					<span class="setting link" title="export selected queries" onclick="queryExport();">export selected queries</span><br />
					<span class="setting link" title="import queries" onclick="queryImport();">import queries</span><br />
					<span class="setting link" title="delete selected queries" onclick="queryDeleteSelected();">delete selected queries</span><br />
					<span class="setting link additional" title="select all" onclick="exportQueryToggleAll(true);">select all</span> / 
					<span class="setting link additional" title="select none" onclick="exportQueryToggleAll(false);">none</span>
					<span class="setting additional">(<span class="export-query-count">0</span>)</span>
					
					<hr />

					<span class="setting link" title="toggle query window context menu" onclick="queryWindowContextToggle();">toggle context menu</span><br />
					<span class="setting link" id="timerToggle" onclick="timerToggle();" title="query timer">toggle timer</span><br />
					<span class="setting link" id="hashesToggle" onclick="hashesToggle();" title="output hashes">toggle output hashes</span><br />

					<input type="checkbox" id="enableCtrlS" onchange="enableCtrlSToggle();"  class="invisible-checkbox" />
					<label title="enable Ctrl+s" for="enableCtrlS">
						<span class="enable-ctrl-s check-box-label check-box-label-on">&#9744;</span>
						<span class="enable-ctrl-s check-box-label check-box-label-off">&#9745;</span>
						<span class="setting link" onchange="enableCtrlSToggle();">ctrl+s saves query</span>
					</label><br />
					
					<input type="checkbox" id="suppressOutput" onchange="suppressOutputToggle();" class="invisible-checkbox" />
					<label title="suppress output" for="suppressOutput">
						<span class="suppress-output check-box-label check-box-label-on">&#9744;</span>
						<span class="suppress-output check-box-label check-box-label-off">&#9745;</span>
						<span class="setting link" onchange="suppressOutputToggle();">suppress output (cross-domain servers only)</span>
					</label><br />

				<!-- 
				
					// options only useful for the PURL-service, which isn't accessible from the server version of this tool

					<hr />

					<input type="checkbox" id="usePOSTmethod" onchange="usePOSTmethodToggle();"  class="invisible-checkbox" />
					<label title="use POST method" for="usePOSTmethod">
						<span class="enable-post check-box-label check-box-label-on">&#9744;</span>
						<span class="enable-post check-box-label check-box-label-off">&#9745;</span>
						<span class="setting link" onchange="usePOSTmethodToggle();">use POST (if server and service allow it)</span>
					</label><br />
					
					<span class="setting link" id="hashesToggle" onclick="hashesToggle();" title="output hashes">use content type:</span>
					<select id="contentEncoding" class="">
						<option value="">(default)</option>
						<option value="application/json;charset=UTF-8">application/json;charset=UTF-8</option>
						<option value="application/x-www-form-urlencoded">application/x-www-form-urlencoded</option>
					</select>
					
					<div id="purlAcceptHeaderSelection">
						<span class="setting">set specific request headers:</span><br />
						<div style="margin-top:2px;">
							<select id="purlAcceptHeaders" class="purl-input"></select><span class="symbol link add-accept-header" onclick="addAcceptHeader();drawAcceptHeaderString();"> + </span>
							<input class="purl-input" type="text" id="customAcceptHeader" placeholder="type custom MIME-type" /><span class="symbol link add-accept-header" onclick="addAcceptHeader(true);drawAcceptHeaderString();"> + </span>
						</div>
						<span id="purlAcceptHeaderString"></span><span onclick="selectedAcceptHeaders.length=0;drawAcceptHeaderString();" class="symbol link clear-accept-headers" style="display:none;"> x </span>
					</div>
					
				-->
					
				</div>
			</div>
		</p>
		
		<p>
			<div class="timer" id="timer"></div>
		</p>
		
		<p>
			<div class="hashes" id="hashes"></div>
		</p>
		
		<div id="notesDiv">
			<span title="note title" id="notesName"></span> <span id="notesSize" class="symbol"></span>
			<a id="dynamicNotesOutLink" title="open link" href="" target="_blank" class="symbol">&#8599;</a>	
			<span title="close note" class="link notesClose" onclick="notesClose();">X</span>
			<textarea title="notes input area" id="notes" onkeyup="setNoteSize();detectLinkInNotes();" onselect="detectLinkInNotes();" onmouseup="detectLinkInNotes();"></textarea>
			<input title="save notes" type="button" class="notesButton" onclick="saveNotes();" value="save notes">
			<span title="insert timestamp" class="link" onclick="insertStringInNotes('%date%')">insert timestamp</span> |
			<span title="insert line" class="link" onclick="insertStringInNotes('%line%')">insert line</span>
		</div>

	</div>

</form>

{% include 'help.html' %}

<div id="documentFieldSuggestions"></div>

<div id="queryWindowContextMenu"></div>

<div id="JSONpathResults" class="JSONpath">
	<div id="JSONpathResultsHeader" class="header">
		<span>JSONpath results</span>
		<span class="divider">|</span>
		<span class="link" onclick="copyJSONpathResultToClipboard(true);setMessage('copied XPath for JSON results to clipboard');">copy</span>
		<span class="link windowClose" onclick="$('#JSONpathToggle').trigger('click');">X</span><br />
	</div>
	<pre id="JSONpathResultsContent" ondblclick="addElementToJSONpath();"></pre>
</div>

<div id="loader"><img src="{{ url_for('static', filename='css/default.svg') }}"></div>

{% include 'templates.html' %}

</body>
</html>
